<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">

<style media="screen">
  html,body {
  font-family: 'Open Sans', serif;
  font-size: 14px;
  font-weight: 300;
  }
  .hero.is-success {
  background: #F2F6FA;
  }
  .hero .nav, .hero.is-success .nav {
  -webkit-box-shadow: none;
  box-shadow: none;
  }
  .box {
  margin-top: 5rem;
  }
  .avatar {
  margin-top: -70px;
  padding-bottom: 20px;
  }
  .avatar img {
  padding: 5px;
  background: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
  box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
  }
  input {
  font-weight: 300;
  }
  p {
  font-weight: 700;
  }
  p.subtitle {
  padding-top: 1rem;
  }
</style>
<section class="hero is-success is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered" style="margin-top:-10rem;">
      <div class="column is-4 is-offset-4">
        <h3 class="title has-text-grey has-text-left">Welcome,</h3>
        <div class="box is-marginless">
          <!-- <figure class="avatar">
            <img src="https://placehold.it/128x128">
          </figure> -->
          <%= render 'form' %>
        </div>

      </div>
    </div>
  </div>
</section>
