<h1>New Ticket</h1>

<%= render template: 'jobs/show', ticket: @ticket %>
<div class="columns" style="margin-top: 1rem;">
  <div class="column is-8 is-offset-2">
    <div class="card">
      <div class="card-content">
        <%= render 'form', ticket: @ticket %>
      </div>
    </div>
  </div>
</div>


<%#= link_to 'Back', job_tickets_path %>
